@model RmR.ViewModels.ResumeExpertViewModel

@{
    ViewBag.Title = "List of Resumes";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th> Current Resume</th>
    </tr>

    @foreach (var item in Model.Experts)
    {
        <tr>
            <td>
                @foreach (var name in item.Resumes)
                {
                    @Html.ActionLink(name.ResumeName, "Details", new { id = name.ResumeID })
                    <br />
                }
            </td>
        </tr>
    }
</table>