@{
    ViewBag.Title = "About Us";
}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-12">

        <h2>@ViewBag.Title</h2>
        <h3>These are our qualified resume experts!</h3>

        <div class="box">
            <div class="col-md-6" id="map">
                <h2 class="intro-text text-center">Denis Ouellette</h2>
                <img class="img-responsive" id="DenisImg" src="~/img/denis.jpg" alt="Denist" />
                <p>
                    This is where I enter the interesting stuff about me and the stuff i do,
                    however the programmer does not have all the time so just enjoy this crappy run on sentence.
                </p>
            </div>
        </div> 

        <div class="box">
            <div class="col-md-6" id="map">
                <h2 class="intro-text text-center">Oenis Duellette</h2>
                <img class="img-responsive" id="DenisImg" src="~/img/oenis.jpg" alt="Denist" />
                <p>
                    This is where I enter the interesting stuff about me and the stuff i do,
                    however the programmer does not have all the time so just enjoy this crappy run on sentence.
                </p>
            </div>
        </div> 
    </div>
</div>
