@{
    ViewBag.Title = "Quicktools";
}

<div class="jumbotron">
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Resume Templates</h2>
        <p>
            Click the link below to get access to hundreds of FREE online resume templates to help you build a resume that stand out!
        </p>
        <p><a class="btn btn-primary" href="http://en.lmgtfy.com/?q=free+resume+templates" target="_blank">Free templates &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resume Competencies</h2>
        <p>Find just the right wording for that project you did 2 years ago and show them how good you use to be before you had kids!</p>
        <p><a class="btn btn-primary" href="http://lmgtfy.com/?q=resume+competencies" target="_blank">Who We Are &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>All About The Paper</h2>
        <p>Use the right paper quality. Get the right job.</p>
        <p><a class="btn btn-primary" href="http://lmgtfy.com/?q=resume+paper+weight" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

    @*OLD CONTACTS CODE*@
    @*<div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title</h2>
                <h3>@ViewBag.Message</h3>

                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>*@
