
@{
    ViewBag.Title = "PersonalUpdated";
}

<h2>PersonalUpdated</h2>
<div>
    <p>
        Thank you for completing Registration. Please @Html.ActionLink("Click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
